@model Proyecto2.Models.RetiroDebito

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RetiroDebito</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TarjetaDebito.NumeroTarjeta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TarjetaDebito.NumeroTarjeta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TarjetaDebitoCredito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TarjetaDebitoCredito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
