@model IEnumerable<Proyecto2.Models.CuentaMonetaria>

@{
    ViewBag.Title = "Cuentas Monetarias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewBag.Persona</h1>
<p>
    @Html.ActionLink("Agregar Cuenta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreCuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Saldo)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saldo)
            </td>
            <td>
                @Html.ActionLink("Crear Prestamos", "Create", "Prestamos", new { names = item.NombreCuenta,id = item.Id, Saldo = item.Saldo}, new { title = "Prestamos" })
            </td>
            <td>
                @Html.ActionLink("Tarjetas de Debito", "TarjetasUser", "TarjetasDebito", new { id = item.Id}, new { title = "Tarjetas" })
            </td>
        </tr>
    }

</table>

