@model IEnumerable<Proyecto2.Models.CuentaAhorro>

@{
    ViewBag.Title = "AhorroUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Persona.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombreCuenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.saldo)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Persona.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.saldo)
            </td>
        </tr>
    }

</table>
